nav {
    height: 60px;
    background-color: #2c3e50;
    color: #fff;
}

nav>div{
    /* debug */
    border: #fff 1px solid;
}

#jumbotron{
    background-color: #2bbc9c;
    height: 500px;
}

#jumbotron>div{
    text-align: center;
    /* debug */
    border: #fff 1px solid;
}

#portfolio{
    /* margin-top: 50px;
    margin-bottom: 50px; */
    /* debug */
    /* border:  1px solid #000;
    background-color: blueviolet; */
}
.ms_container{
    width: 80%;
    margin: 50px auto;
}

#portfolio>.row:nth-child(2)>div{
    border-radius: 5px;
    /* debug */
    border:  1px solid #000;
    background-color: bisque;
    height: 100px;
}

#about{
    background-color: #2bbc9c;
    color: #fff;
    /* debug */
    /* height: 500px; */
}

#about .row, #contact .row{
    /* debug */
    background-color: burlywood;
    border: #000 1px solid;
}

footer{
    background-color: #2c3e50;
    /* debug */
    /* height: 500px; */
}

footer .row div{
    /* debug */
    border: #000 1px solid;
    height: 100px;
}

footer .container-fluid{
    background-color: #162029;
}

